body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 100px 1fr; /* 100px tall. can use % */
	grid-template-columns: 350px 1fr;
	grid-template-areas: 
	"header header" 
	"sidebar content"; /*layout of site. flipping to content sidebar will flip the orientation on the page */
}

.header {
	grid-area: header;
	padding:10px;
    background-color: rgb(98, 173, 148);
	color: rgb(220, 243, 234);
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: rgb(220, 243, 234);
	overflow: auto; /* auto wraps text to scrollbar*/
}
.content {
	grid-area: content;
}

.background {
    grid-area: body;
    padding: 10px;
    background-color: #777;
}

.sidebar-item{
	padding: 10px;
	background: rgb(179, 221, 205);
	border: 5px solid rgb(255, 255, 255);
	margin: 5px;
	color:rgb(0, 0, 0);
	cursor: pointer; /*cursor changes to hand when hovering*/
}